@import url('https://fonts.googleapis.com/css2?family=Lato&family=Playfair+Display:ital@1&display=swap');

html {
    overflow-y: scroll;
}

body {
    font-family: 'Lato';

}

::-webkit-scrollbar {
    width: 0px;
}

.weaklyPrices-page {
    
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #D9B99B;
    color: #000080;
    min-height: 100vh;
    max-height: 100%;
}

.page-title {
    display: flex;
    flex-direction: row;
    align-items: center;

    line-height: 150px;
    font-size: 150px;
    font-family: 'Playfair Display';

    margin-top: 30px;
}

.card-display {
    display: flex;
    flex-direction: column;
    align-items: center;

    padding-top: 30px;
}

.details-cards {
    display: flex;
    flex-direction: row;
}

.details-cards > * {
    margin-right: -500px; /* Adjust the negative margin as needed */
    z-index: 1;
    position: relative;
}

.details-cards > :last-child {
    margin-right: 0; /* No negative margin for the last child */
}

.display-panel {
    display: flex;
    margin-top: 15px;
}

.nav-panel {
    width: auto;
    height: 480px;

    background: #FFFFF0;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0px 20px;

    margin-right: 40px;
    margin-top: 55px;
    padding: 8px;
    border-radius: 10px;

    display: flex;
    flex-direction: row;
}

.catagory-title {
    background: #D9B99B;
    height: 45px;
    line-height: 45px;
    border-radius: 5px;
    margin-bottom: 8px;
    text-align: center;
    text-justify: center;

    font-weight: bold;
    font-size: 30px;
}

.catagory-panel {
    overflow-y: auto;
    padding: 0px 8px 0px 8px;
    background: #D9B99B;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

.catagory-panel::-webkit-scrollbar {
    width: 12px;
    border-radius: 10px;
    background-color: #a18973;
}

.catagory-panel::-webkit-scrollbar-thumb {
    background: #D9B99B;
    border-radius: 10px;
    border: 4px solid rgba(0, 0, 0, 0.1);
}

.catagory {
    width: auto;
    height: 35px;
    line-height: 35px;

    background: #000080;
    color: white;

    margin: 4px 0px 4px 0px;
    padding: 0px 8px 0px 8px;
    border-radius: 5px;

    text-justify: center;
    text-align: center;
    font-weight: 500;

    cursor: pointer;
}

.catagory:hover {
    background-color: #0000A6;
}

@media (max-width: 850px) {

    .page-title {
        flex-direction: column;
        font-size: 150px;
        line-height: 120px;
        margin-top: 10px;
    }

    .card-display {
        padding-top: 15px;
        padding-bottom: 0px;
    }

    .display-panel {
        flex-direction: column;
        align-items: center;
    }

    .nav-panel {
        width: 95vw;
        margin: 0px;
        max-height: 180px;
        margin-bottom: 20px;
        justify-content: center;
    }
    
}

@media (max-width: 400px) {
    .page-title {
        flex-direction: row;
        font-size: 65px;
        line-height: 65px;
        margin-top: 0px;
    }
}