
@import url('https://fonts.googleapis.com/css2?family=Lato&family=Playfair+Display:ital,wght@1,400;1,600&display=swap');
html {
    overflow-y: scroll;
}

body {
    font-family: 'Lato';

}

::-webkit-scrollbar {
    width: 0px;
}

.weaklyPrices-page {
    
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #D9B99B;
    color: #000080;
    min-height: 100vh;
    max-height: 100%;
}

.page-title {
    display: flex;
    flex-direction: row;
    align-items: center;

    line-height: 150px;
    font-size: 150px;
    font-family: 'Playfair Display';

    margin-top: 20px;
}

.card-display {
    display: flex;
    flex-direction: column;
    align-items: center;

    padding-top: 30px;
}

.details-cards {
    display: flex;
    flex-direction: row;
}

.details-cards > * {
    margin-right: -500px; /* Adjust the negative margin as needed */
    z-index: 1;
    position: relative;
}

.details-cards > :last-child {
    margin-right: 0; /* No negative margin for the last child */
}

.display-panel {
    display: flex;
    margin-top: 15px;
}

@media (max-width: 850px) {

    .page-title {
        flex-direction: column;
        font-size: 150px;
        line-height: 120px;
    }

    .card-display {
        padding-top: 15px;
        padding-bottom: 0px;
    }

    .display-panel {
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width: 400px) {
    .page-title {
        flex-direction: row;
        height: auto;
        font-size: 62px;
        line-height: 62px;
        margin-top: 10px;

        font-weight: 600;
    }
}